.about-us {
    background-color: #F4CE14;
    display: flex;
    gap: 20px;
    padding: 3% 7%;
    height: 550px;
}

.about-content{
    flex: 1;
}

.about-us h1{
    font-size: 60px;
    font-weight: 700;
}

.about-content h3{
    font-size: 1.6rem;
    margin: 20px 0;
    font-size: 30px;
    font-family: 'Karla';
    font-weight: 600;
}
.about-content p{
    width: 100%;
    padding: 20px 0;
    font-size: 18px;
    font-family: 'Karla';
}


.about-imgs{
    position: relative;
    flex: 1;

}

.about-us img:nth-child(1) {
    width: 55%;
    position: absolute;
    top: 8%;
    left: 20%;
}

.about-us img:nth-child(2) {
    width: 40%;
    aspect-ratio: 1/1;
    position: absolute;
    bottom: 5%;
    left: 5%;
}

