.menu-card {
    min-height: 250px;
    width: 20%;
    padding-bottom: 90px;
    border-radius: 8px 8px 0 0;
    box-shadow: 5px 10px 20px #F2EFEF;
    margin: 0 15px;
    background-color: #EEEBEB;
}
.menu-card img {
    width: 100%;
    aspect-ratio: 1.3/1;
    border-radius: 8px 8px 0 0;
}


.menu-card .salad-title{
    font-size: 45px;
    font-weight: 600;
    padding: 3px 25px;
    margin-top: 6px;
    margin-bottom: 0;
}

.menu-card .salad-description {
    font-size: 16px;
    font-weight: 400;
    font-family:'Karla';
    padding: 3px 25px;
    line-height: 2.0;
    margin-top: -4px;
    margin-bottom: 16px;
}

.menu-card a {
    text-decoration: none;
    font-family:'Karla';
    font-size: 18px;
    font-weight: 800;
    color: black;
    padding: 3px 25px;
}